.cv-layout {
    display: flex;
    min-height: 800px;
    background: white;
}

.cv-sidebar {
    width: 35%;
    background-color: #2c3e50; /* Dark Navy/Slate */
}

.cv-main {
    width: 65%;
}

.profile-img-placeholder {
    width: 120px;
    height: 120px;
    background-color: #ecf0f1;
    border-radius: 50%;
    margin: 0 auto;
}

#experience-list li, #skills-list li {
    margin-bottom: 10px;
    line-height: 1.6;
}